<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <title>ASS Anfänger Kurs – Kursmaterial</title>
  
  <link rel="stylesheet" href="../css/<%= @options[:theme] %>.css" type="text/css" media="screen" charset="utf-8">
  
  <style type="text/css">
		body {
			margin-top: 1.0em;
			background-color: #0b084a;
			font-family: "Helvetica,Arial,FreeSans";
			color: #ffffff;
		}
		#container {
			margin: 0 auto;
			width: 800px;
		}
		h1 {
		  font-size: 50px;
		  color: #f4f7b5;
		  margin-bottom: 3px;
		}
		h1 .small {
		  font-size: 0.4em;
		}
		h1 a {
		  text-decoration: none
		}
		h2 {
		  font-size: 1.5em; color: #f4f7b5;
		}
		h3 {
		  text-align: center; color: #f4f7b5;
		}
		a {
		  color: #f4f7b5;
		}
		.description {
		  font-size: 1.2em;
		  margin-bottom: 30px;
		  margin-top: 30px;
		  font-style: italic;
		}
		.download { 
		  float: right;
		}
		pre {
		  background: #000;
		  color: #fff;
		  padding: 15px;
		}
		hr {
		  border: 0;
		  width: 80%;
		  border-bottom: 1px solid #aaa;
		}
		.footer {
		  text-align:center;
		  padding-top:30px;
		  font-style: italic;
		}
	</style>
	
</head>
<body>

  	<a href="http://github.com/galaxycats/ASS-Beginner"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  	<div id="container">

  		<div class="download">
  			<a href="http://github.com/galaxycats/ASS-Beginner/zipball/master">
  				<img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
  			<a href="http://github.com/galaxycats/ASS-Beginner/tarball/master">
  				<img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
  		</div>

        <div id="content">
          <%= @content %>
        </div>

  		<div class="footer">
  			get the source code on GitHub : <a href="http://github.com/galaxycats/ASS-Beginner">galaxycats/ASS-Beginner</a>
  		</div>

  	</div>

</body>
</html>
